@using anevo.app.Models;
@using anevo.app.ViewModels;
@using api.allinoneapi.Models.Stocks.Polygon;
@model StockDetailViewModel;
@{
    ViewData["Title"] = @Model.TickersMainPage.First().name;
}


@if(Model.TickersMainPage != null)
    {
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12 mblock">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col" id="detail">
                            <h1 class="d-inline-block detail-name">
                                @Model.TickersMainPage.First().name
                            </h1>
                            <span class="opacity-75 p-2 detail-ticker">
                                @Model.TickersMainPage.First().ticker
                            </span>
                            <div class="price d-block">
                                @{
                                    string symbol = " $";

                                    if (Model.TickersMainPage.First().currency_name == "usd")
                                    {
                                        @String.Format("{0}", Model.TickersMainPage.First().closePrice + symbol)
                                    }
                                }

                            </div>
                        </div>
                        <div class="col my-auto detail-image">
                            @{
                                string ticker = @Model.TickersMainPage.First().ticker + ".png";
                            }
                            <div class="my-auto table-row pull-right align-middle">
                                <img src="~/img/stocks/@ticker" height="70" width="100" class="img-stock pic" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mblock">
             @*   <h2 class="bitcoin">@Model.TickersMainPage.First().name</h2>
                <label class="spy-price" id="price-spy">@Model.TickersMainPage.First().closePrice</label><label class="btc-price">&nbsp;$</label>*@
              @*  <div class="changevalueblock">
                    <label class="changevalue">+310 $ (+0.75%)</label><label class="changevaluetoday">&nbsp;Today</label>
                </div>*@
                <div id="root2"></div>
                <p>
                    <nav class="navbar navbar-expand-lg navbar-light mblock-menu">
                        <div class="navbar-collapse text-nowrap">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-inline-block" id="list-timeframes-spy">
                                <li class="nav-item active d-inline-block" id="spy-1d">
                                    1D
                                </li>
                                <li class="nav-item d-inline-block" id="spy-1w">
                                    1W
                                </li>
                                <li class="nav-item d-inline-block" id="spy-1m">
                                    1M
                                </li>
                                <li class="nav-item d-inline-block" id="spy-1y">
                                    1Y
                                </li>
                                <li class="nav-item d-inline-block" id="spy-5y">
                                    5Y
                                </li>
                            </ul>
                        </div>
                    </nav>
                </p>
            </div>
        </div>
    </div>
    }
    
@section scripts {
    <script src="~/js/stock/detail/chart.js" asp-append-version="true"></script>
}